<header>
    <div id="title">
        <h1>{{ .Title }}</h1>
        <nav>
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="parent {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="#">
                        {{ .Pre }}
                        <span>{{ .Name }} ▾ </span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
    <div id="breadcrumb">
        {{ partial "breadcrumb.html" . }}
    </div>
</header>

<hr>