body>header {
    height: var(--space-4);

    div#title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: space-evenly;
            margin-block-start: var(--tiny);
            margin-block-end: var(--tiny);

            li {
                display: block;
                margin: 0 var(--tiny);
                padding: var(--tiny) var(--space-1);
                background: var(--background-alt);
                height: 1.2em;
            }

            li:hover {
                background: var(--background);
            }

            ul.sub-menu {
                margin: 0;
                padding: 0;
                display: none;
            }

            span.parent:hover>ul {
                display: flex;
                flex-direction: column;
            }
        }

    }
}

@include mq($until: md) {
    body>header {
        height: var(--space-8);

        div#title {
            flex-direction: column;
            justify-content: left;

            ul {
                padding: 0;
                justify-content: left;

                li {
                    margin-left: 0;
                }
            }
        }
    }
}