:root {
  --tiny: 0.5em;

  --space-8: 8em;
  --space-4: 4em;
  --space-3: 3em;
  --space-2: 2em;
  --space-1: 1em;
}

$mq-responsive: true;
$mq-breakpoints: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px);